@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* ========== BREAKPOINTS ========== */
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  /* ========== FONTS ========== */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  /* ========== COLORS ========== */
  /* --color-*: initial; */
  --color-primary: #ffffff;
  --color-primary-1: #363738;
  --color-secondary: #f5f5f5;
  --color-secondary-1: #fefaf1;
  --color-secondary-2: #db4444;
  --color-bg: FFFFFF;
  --color-text: #fafafa;
  --color-text-1: #7d8184;
  --color-text-2: #000000;
  --color-button: #000000;
  --color-button-1: #00ff66;
  --color-button-2: #db4444;
  --color-hover-button: #e07575;
}

@layer components {
  /* ========== HEADINGS ========== */
  /* ===== 110 ===== */
  .heading-110-bold {
    @apply font-primary text-[110px] leading-[115px] font-bold tracking-[-0.03em];
  }
  .heading-110-semibold {
    @apply font-primary text-[110px] leading-[115px] font-semibold tracking-[-0.03em];
  }
  .heading-110-medium {
    @apply font-primary text-[110px] leading-[115px] font-medium tracking-[-0.03em];
  }
  .heading-110-regular {
    @apply font-primary text-[110px] leading-[115px] tracking-[-0.03em];
  }

  /* ===== 90 ===== */
  .heading-90-bold {
    @apply font-primary text-[90px] leading-[98px] font-bold tracking-[-0.05em];
  }
  .heading-90-semibold {
    @apply font-primary text-[90px] leading-[98px] font-semibold tracking-[-0.05em];
  }
  .heading-90-medium {
    @apply font-primary text-[90px] leading-[98px] font-medium tracking-[-0.05em];
  }
  .heading-90-regular {
    @apply font-primary text-[90px] leading-[98px] tracking-[-0.05em];
  }
  .heading-64-bold {
    @apply font-primary text-[64px] leading-[68px] font-bold tracking-[-0.05em];
  }
  .heading-64-semibold {
    @apply font-primary text-[64px] leading-[68px] font-semibold tracking-[-0.05em];
  }
  .heading-64-medium {
    @apply font-primary text-[64px] leading-[68px] font-medium tracking-[-0.05em];
  }
  .heading-64-regular {
    @apply font-primary text-[64px] leading-[68px] tracking-[-0.05em];
  }

  /* ===== 54 ===== */
  .heading-54-bold {
    @apply font-primary text-[54px] leading-[64px] font-bold tracking-[-0.06em];
  }
  .heading-54-semibold {
    @apply font-primary text-[54px] leading-[64px] font-semibold tracking-[-0.06em];
  }
  .heading-54-medium {
    @apply font-primary text-[54px] leading-[68px] font-medium tracking-[-0.06em];
  }
  .heading-54-regular {
    @apply font-primary text-[54px] leading-[64px] tracking-[-0.06em];
  }

  /* ===== 48 ===== */
  .heading-48-bold {
    @apply font-primary text-5xl leading-[52px] font-bold tracking-[-0.04em];
  }
  .heading-48-semibold {
    @apply font-primary text-5xl leading-[60px] font-semibold tracking-[-0.04em];
  }
  .heading-48-medium {
    @apply font-primary text-5xl leading-[60px] font-medium tracking-[-0.04em];
  }
  .heading-48-regular {
    @apply font-primary text-5xl leading-[52px] tracking-[-0.04em];
  }

  /* ===== 36 ===== */
  .heading-36-bold {
    @apply font-primary text-4xl leading-[30px] font-bold tracking-[-0.04em];
  }
  .heading-36-semibold {
    @apply font-primary text-4xl leading-[48px] font-semibold tracking-[-0.04em];
  }
  .heading-36-medium {
    @apply font-primary text-4xl leading-[30px] font-medium tracking-[-0.04em];
  }
  .heading-36-regular {
    @apply font-primary text-4xl leading-[30px] tracking-[-0.04em];
  }

  /* ===== 32 ===== */
  .heading-32-bold {
    @apply font-primary text-[32px] leading-[30px] font-bold tracking-[-0.04em];
  }
  .heading-32-semibold {
    @apply font-primary text-[32px] leading-[30px] font-semibold tracking-[-0.04em];
  }
  .heading-32-medium {
    @apply font-primary text-[32px] leading-[30px] font-medium tracking-[-0.04em];
  }
  .heading-32-regular {
    @apply font-primary text-[32px] leading-[30px] tracking-[-0.04em];
  }

  /* ===== 24 ===== */
  .heading-24-bold {
    @apply font-primary text-2xl leading-[24px] font-bold tracking-[-0.03em];
  }
  .heading-24-semibold {
    @apply font-primary text-2xl leading-[24px] font-semibold tracking-[-0.03em];
  }
  .heading-24-medium {
    @apply font-primary text-2xl leading-[24px] font-medium tracking-[-0.03em];
  }
  .heading-24-regular {
    @apply font-primary text-2xl leading-[24px] tracking-[-0.03em];
  }

  /* ===== 20 ===== */
  .heading-20-bold {
    @apply font-primary text-xl leading-[20px] font-bold tracking-[-0.03em];
  }
  .heading-20-semibold {
    @apply font-primary text-xl leading-[20px] font-semibold tracking-[-0.03em];
  }
  .heading-20-medium {
    @apply font-primary text-xl leading-[20px] font-medium tracking-[-0.03em];
  }
  .heading-20-regular {
    @apply font-primary text-xl leading-[20px] tracking-[-0.03em];
  }

  /* TITLES */
  /* ===== 24 ===== */
  .title-24-semibold {
    @apply font-secondary text-2xl leading-[32px] font-semibold;
  }
  .title-24-medium {
    @apply font-secondary text-2xl leading-[32px] font-medium;
  }
  .title-24-regular {
    @apply font-secondary text-2xl leading-[32px];
  }
  /* ===== 20 ===== */
  .title-20-semibold {
    @apply font-secondary text-xl leading-[28px] font-semibold;
  }
  .title-20-medium {
    @apply font-secondary text-xl leading-[28px] font-medium;
  }
  .title-20-regular {
    @apply font-secondary text-xl leading-[28px];
  }

  /* ===== 16 ===== */
  .title-16-semibold {
    @apply font-secondary text-base leading-[20px] font-semibold;
  }
  .title-16-medium {
    @apply font-secondary text-base leading-[24px] font-medium;
  }
  .title-16-regular {
    @apply font-secondary text-base leading-[24px];
  }

  /* ===== 14 ===== */
  .title-14-semibold {
    @apply font-secondary text-sm leading-[21px] font-semibold;
  }
  .title-14-medium {
    @apply font-secondary text-sm leading-[21px] font-medium;
  }
  .title-14-regular {
    @apply font-secondary text-sm leading-[21px];
  }

  /* ===== 12 ===== */
  .title-12-semibold {
    @apply font-secondary text-xs leading-[18px] font-semibold;
  }
  .title-12-medium {
    @apply font-secondary text-xs leading-[18px] font-medium;
  }
  .title-12-regular {
    @apply font-secondary text-xs leading-[18px];
  }
}

.main-container {
  @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}

body {
  @apply font-secondary text-base leading-6;
}

.slick-dots li.slick-active div {
  @apply bg-button-2 border-primary scale-125 border;
}
